<!DOCTYPE html>
<html>
<head>
	<title> Medicine List</title>
</head>
<body>
	<div>
			<h2>Medicine List</h2> 		
	</div>

	<a href="/home">Back</a>|
	<a href="/logout">Logout</a><br>

	<table border="1">
		<tr>
			<td>Medicine ID</td>
			<td>Medicine NAME</td>
			<td>PRICE</td>
			<td>TYPE</td>
			<td>Vendor</td>
			<td>DESCRIPTION</td>
		</tr>
	<% for(var i=0; i < medicinelist.length; i++){ %>
		<tr>
			<td><%= medicinelist[i].id %></td>
			<td><%= medicinelist[i].bookname %></td>
			<td><%= medicinelist[i].price %></td>
			<td><%= medicinelist[i].type %></td>
			<td><%= medicinelist[i].author %></td>
			<td><%= medicinelist[i].description %></td>
			
		</tr>
	<%  } %>
	</table>

</body>
</html>